{% extends "dispatch_web.html" %}

{% load bootstrap_toolkit %}

{% block content %}

{% if status == "Active" %}
<script>
  function timedRefresh(timeoutPeriod) {
    setTimeout("location.reload(true);",timeoutPeriod);
  }
  window.onload = timedRefresh(10000);
</script>
{% endif %}

<div class="row">
  <div class="span10 offset1">
    <h3 class="text-info"><strong>{{ status }} Transfers</strong></h3>
    {% if transfers %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Affiliate</th>
            <th>Filename</th>
            <th>Server</th>
            <th>Started</th>
            <th>Ended</th>
            <th>Status</th>
            <th>Error Message</th>
          </tr>
        </thead>
        <tbody>
          {% for t in transfers %}
            {% if t.status == "Error" %}
            <tr class="error">
            {% elif t.status == "Cancelled" %}
            <tr class="warning">
            {% else %}
            <tr>
            {% endif %}
              <td>{{ t.name }}</td>
              <td>{{ t.filename }}</td>
              <td>{{ t.server}}</td>
              <td>{{ t.started }}</td>
              <td>{{ t.ended }}</td>
              <td>{{ t.status }}</td>
              {% if t.error %}
              <td><a href="#" data-toggle="tooltip" title="{{ t.error }}">{{ t.error|truncatechars:15 }}</a></td>
              {% else %}
              <td>...</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="muted">There are no transfers.</p>
    {% endif %}

  </div>
</div>
{% endblock %}
